.yellow, .gray{
	height: 100px;
	margin: 10px;
	padding: 10px;
	width: 200px;
	display: inline-block;
}


.yellow{
	
	background-color: yellow;
	
}

.gray{

	background-color: #322D2D;
	color: #FFF;
}
